// Widths
$width-mobile: 375px;
$width-desktop: 1440px;

// color
$color-white: hsl(0, 0%, 100%);
$color-lightGray: hsl(212, 45%, 89%);
$color-grayishBlue: hsl(220, 15%, 55%);
$color-darkBlue: hsl(218, 44%, 22%);

// font
$font-family: Outfit;
$font-size: 15px;
$fw-400: 400;
$fw-700: 700
